
<!DOCTYPE html>
<html>
<head>
    <title>Add Movie</title>
</head>
<body>

<h1>Add Movie</h1>

<form method="POST">

    <input type="text"
           name="title"
           placeholder="Movie Title"
           required>

    <br><br>

    <input type="text"
           name="genre"
           placeholder="Genre"
           required>

    <br><br>

    <input type="text"
           name="duration"
           placeholder="Duration"
           required>

    <br><br>

    <input type="text"
           name="rating"
           placeholder="Rating"
           required>

    <br><br>

    <textarea
        name="description"
        placeholder="Description">
    </textarea>

    <br><br>

    <input type="text"
           name="poster"
           placeholder="Poster Name">

    <br><br>

    <button type="submit">
        Add Movie
    </button>

</form>

</body>
</html>